.container{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: aliceblue;
}
.menu2{
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: aliceblue;
}
  .menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu-main:after {
    content: "";
    display: table;
    clear: both;
  }
  .left-item {float: left;}
  .right-item {float: right;}
  .center-item{float:left;}
  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .menu-main a {
    text-decoration: none;
    display: block;
    line-height: 80px;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: lightslategray;
    transition: .3s linear;
  }
  .menu-main a:hover {background: rgba(0,0,0,.3);}
  @media (max-width: 830px) {
  .menu-main {
    padding-top: 90px;
    text-align: center;
  }
  .logo {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }
  .menu-main li {
    float: none;
    display: inline-block;
  }
  .menu-main a {
    line-height: normal;
    padding: 20px 15px;
    font-size: 16px;
  }
  }
  @media (max-width: 630px) {
  .menu-main li {display: block;}
  }


  .menu-main2 {
    list-style: none;
    margin: 0px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
  }
  .menu-main2 li {display: inline-block;}
  .menu-main2 li:after {
    content: "|";
    color: #606060;
    display: inline-block;
    vertical-align:top;
  }
  .menu-main2 li:last-child:after {content: none;}
  .menu-main2 a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
  }
  .menu-main2 a, .menu-main2 a:visited {color: #9d999d;}
  .menu-main2 a.center-item, .menu-main2 a:hover{color: #feb386;}
  .menu-main2 a:before,
  .menu-main2 a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: #feb386;
    transition: .8s;
  }
  .menu-main2 a:hover:before, .menu-main2 .center-item:before {left: 0;}
  .menu-main2 a:hover:after, .menu-main2 .center-item:after {right: 0;}   
  @media (max-width: 550px) {
  .menu-main2 {padding-top: 0;}
  .menu-main2 li {display: block;}
  .menu-main2 li:after {content: none;}
  .menu-main2 a {
    padding: 25px 0 20px; 
    margin: 0 30px;
  }
  }
.column{
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 0 3px #954a27;
  text-indent: 30px;
  padding: 10px 10px 10px 10px;
  margin: 20px;
  width: 400px;
  display: inline-block; 
  margin-left: 20px;
}
.two{
  margin: 10px;
}
li a{
  text-decoration: none;
}

.form{
	width: 100%;
	max-width: 350px;
 
}
.form-report{
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0px 40px;
	box-sizing: border-box;

}
.form-report div{
	padding: 5px 0px;

}
.btn--sub{
	box-sizing: border-box;
	width: 100%;
}
.form-report label,.form-report input{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.form-report label{
	margin-bottom: 5px;
	font-weight: bold;

}
.form-report input{
	padding: 10px 15px;
	margin-top: 10px;
  
}
.form-report .btn--sub{
	padding: 15px;
	margin-top: 10px;
	border: none;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	border: 3px #975913 solid;
	border-radius: 5px;
}
.form-report .btn--sub{
	color: #020201;
	background-color: #957315;
}
.form-border{
  border: 3px #975913 solid;
}
.form-label{
  text-align: center;
  color: #975913;
  font-size: 18pt;
}

/*=======================
  Login/SignUp
========================*/


/* h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
} */



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: url(../images/fon_login.png) repeat-y;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}


/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:40%;
}

* {
  box-sizing: border-box;
}

.wrapper{
  margin-top: 50px;
}

.wrapper h1{
  font-size: 45px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #dce5f4;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #514848;  
  position: relative;
}

.team .team_member h3{
  color: #794a14;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #832a2a;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #755a10;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}