{% extends 'centre/base.html' %}
{% load static %}
{% block content %}


{% if page == 'register' %}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"><a href="{% url 'login' %}"> Авторизация </a></h2>
        <h2 class="inactive underlineHover"> Регистрация </h2>
        <p>Создайте свой аккаунт</p>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{% static 'images/user.png' %}" id="icon" alt="User Icon"/>
        </div>

        <!-- Register Form -->
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <label>Введите Имя</label>
            <br>
            {{ form.first_name }}
            <label>Введите Фамилию</label>
            <br>
            {{ form.last_name }}
            <br>
            <label>Имя на сайте</label>
            <br>
            {{ form.username }}
            <label>Введите Пароль</label>
            <br>
            {{ form.password1 }}

            <label>Подтвердите пароль</label>
            <br>
            {{ form.password2 }}
            <input type="submit" class="fadeIn fourth" value="Зарегистрировать">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>


{% else %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Авторизация </h2>
        <h2 class="inactive underlineHover"><a href="{% url 'register' %}"> Регистрация </a></h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="{% static 'images/user.png' %}" id="icon" alt="User Icon"/>
        </div>

        <!-- Login Form -->
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input type="text" id="login" class="fadeIn second" name="username" placeholder="Имя пользователя:">
            <input type="text" id="password" class="fadeIn third" name="password" placeholder="Введите пароль:">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>
{% endif %}
{% endblock %}