{% extends 'centre/base.html' %}
{% load static %}
{% block content %}
<!-- Main Section -->

<div class="layout">
    <div class="prof_left">
        <div class="prof_kartochka">
            <img class="avatar avatar--xl" src="{{ profile.account_image.url}}"/>
            <h2 class="dev__name">{{ profile.name }}</h2>
            {% if profile.profession %}
            <p class="dev__title">Должность: {{ profile.profession }}</p>
            {% else %}
            <p class="dev__title">Должность: Недостаточно данных</p>
            {% endif %}
            {% if profile.department %}
            <p class="dev__title">Отдел: {{ profile.department }}</p>
            {% else %}
            <p class="dev__title">Отдел: Недостаточно данных</p>
            {% endif %}
            {% if profile.email %}
            <p class="dev__location">Электронная почта: {{ profile.email }}</p>
            {% else %}
            <p class="dev__location">Электронная почта: Недостаточно данных</p>
            {% endif %}
            {% if profile.phone %}
            <p class="dev__location">Телефон: {{ profile.phone }}</p>
            {% else %}
            <p class="dev__location">Телефон: Недостаточно данных</p>
            {% endif %}
        </div>
    </div>
    <div class="prof_right">
        <div class="prof_kartochka_right">
            <h2 class="devInfo__title">Информация о пользователе</h2>
            {% if profile.info %}
            <p class="devInfo__about">{{ profile.info}} </p>
                {% else %}
            <p class="devInfo__about"> Информация не заполнена в профиле пользователя!</p>
               {% endif %}

        </div>
    </div>
</div>

{% endblock %}