{% extends 'centre/base.html' %}
{% load static %}
{% block content %}
<!-- Main Section -->
<main>
    <div class="prof">
        <div class="layout">
            <div>
                <div class="card text-center">

                    <div class="card__body dev">
                        <img class="avatar avatar--xl" src="{{ profile.account_image.url}}"/>
                        <h2 class="dev__name">{{ profile.name }}</h2>
                        <p class="dev__title"> {{ profile.profession }}</p>
                        <p class="dev__location">{{ profile.email }}</p>
                        <p class="dev__location">{{ profile.phone }}</p>
                    </div>
                </div>
                <div>
                    <div class="devInfo">
                        <h3 class="devInfo__title">About Me</h3>
                        <p class="devInfo__about">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex illum ipsum iusto consequatur.
                            Totam,
                            dolorum fugiat, debitis facere illo nostrum nesciunt maxime, deserunt enim voluptatibus modi
                            natus velit
                            voluptatum. Dicta eritatis exercitationem ut quos a placeat obcaecati? Architecto illum!
                            <br/>
                            Amet consectetur adipisicing elit. Veritatis exercitationem ut quos a placeat obcaecati?
                            Architecto
                            illum, atque delectus nemo dolorem inventore ab facilis? Dolor placeat vel delectus ipsam
                            ullam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</main>

{% endblock %}