{% extends 'centre/base.html' %}
{% load static %}
{% block content %}

<hr>
<h1 align="center">Рекомендуемая литература</h1>
<hr>
<ul class="biblioteka">
    <li><a href="{% static 'pdf/metod_zapas.pdf' %}" target="_blank">Методические рекомендации по
        подсчету геологических запасов нефти и газа</a></li>
    <br>
    <hr>
        <li><a href="{% static 'pdf/Ахиярова_ЕР_диссертация.pdf' %}" target="_blank"> Диссертация: Методика динамического анализа сейсмических данных для изучения строения
доюрского комплекса Нюрольской структурно-фациальной зоны Западной Сибири</a></li>
    <br>
    <hr>
            <li><a href="{% static 'pdf/Руководство ГИС-АКЦ.doc' %}" target="_blank"> Руководство пользователя:
Определение качества цементирования скважин <br> Скачать в формате .doc</a></li>
    <br>
    <hr>
</ul>



{% endblock %}