<section>
    <div class="footer">
        <div class="wr">
            <div class="to-left contacts">
                <p><i class="icon"><img src="/static/images/location.png" alt="location"></i>
                    628415, Российская Федерация, Тюменская обл.,
                    <br>
                    г.Сургут, ул.Григория Кукуевицкого, 1, корпус 1
                </p>
                <p>
                    <i class="icon"><img src="/static/images/phone.png" alt="phone"></i>
                    <a href="tel:+73462427009"> +7 (3462) 42-70-09</a>
                </p>
            </div>
        </div>
    </div>
</section>