{% extends 'centre/base.html' %}
{% block content %}
<main class="lic_area">
    <section class="hero-section text-center">
<div class="hero-section__box">
    <h2 align="center">Поиск <span>Лицензионных участков</span></h2>
</div>
<div class="hero-section__search">
    <form id="search" class="form" action="{% url 'licea_area' %}" method="get">
        <div class="form__field">
            <label for="formInput#search">Поиск Лицензионного участка </label>
            <input class="input input--text" id="formInput#search" type="text" name="search_query"
                   value="{{ search_query }}"
                   placeholder="Введите название Лицензионного участка"/>
        </div>
        <input class="btn btn--sub btn--lg" type="submit" value="Найти"/>
    </form>
</div>
    </section>
<section>
    <div class="two">
        {% for num in area %}
        <div class="column">
            <a href="{% url 'area' num.id %}" class="project">
                <h2 class="project__title">{{ num.title }}</h2>
            </a>
            <p><i>{{ num.region}}</i></p>
        </div>
        {% endfor %}
    </div>
</section>

{% include 'centre/pagination.html' with queryset=area custom_range=custom_range %}
</main>
{% endblock %}
