{% load static %}
    <div class="container">
      <nav class="menu">
          <a href="/" class="logo">
        <img src="{% static 'images/logo.png'%}" alt="Logo" />
      </a>
          <ul class="menu-main">
          <li class="left-item" ><a href="{% url 'index' %}">О центре</a></li>
          <li class="left-item"><a href="{% url 'centre' %}">Лицензионные участки</a></li>
          <li class="left-item"><a href="account.html">Аккаунт</a></li>
          <li class="right-item" ><a href="{% url 'old_doc' %}">Библиотека</a></li>
          <li class="right-item" ><a href="login.html" class="btn btn--sub">Логин/Выйти</a></li>
        </ul>
      </nav>
    </div>
<br>
      <nav class="menu2">
          <ul class="menu-main2">
          <li class="center-item"><a href="index.html">Подать заявку</a></li>
          <li class="center-item"><a href="#">Актуальные заявки</a></li>
          <li class="center-item"><a href="inbox.html">Выполненные заявки</a></li>
          <li class="center-item"><a href="inbox.html">Отчет</a></li>
         </ul>
      </nav>

 <img src="{% static 'images/fon.jpg'%}" alt="fon">
