{% load static %}
<header class="header">
    <div class="container container--narrow">
      <a href="/" class="header__logo">
        <img src="{% static 'images/logo.png'%}" alt="Logo" />
      </a>
      <nav class="header__nav">
          <ul class="header__menu">
          <li class="header__menuItem"><a href="index.html">О центре</a></li>
          <li class="header__menuItem"><a href="{% url 'centre' %}">Лицензионные участки</a></li>
          <li class="header__menuItem"><a href="inbox.html">Руководство</a></li>
          <li class="header__menuItem"><a href="account.html">Аккаунты</a></li>
          <li class="header__menuItem"><a href="account.html">Библиотека</a></li>
          <li class="header__menuItem"><a href="login.html" class="btn btn--sub">Логин/Выйти</a></li>
        </ul>
      </nav>
    </div>
  <img src="{% static 'images/fon.jpg'%}" alt="fon">
  </header>
