{% extends 'centre/base.html' %}
{% load static %}
{% block content %}

{{ bid.title }}

{{ error }}
<br>
{{ bid.field }}
<br>
{{ bid.date_completed}}
{{ bid.new.area }}

<div class="but">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn remove">Сохранить</button>
</form>

<form action="{% url 'completebid' bid.id %}" method="post">
    {% csrf_token %}
    <button class="btn good">Выполнено</button>
</form>

<form action="{% url 'deletebid' bid.id %}" method="post">
    {% csrf_token %}
    <button class="btn remove">Удалить</button>
</form>
</div>
{% endblock %}